artifacts/*
!artifacts/.gitkeep
logs/*
!logs/.gitkeep
results/*
!results/.gitkeep
__pycache__/
*.pyc
data/*
!data/.gitkeep
tensorboard/*
!tensorboard/.gitkeep
model/
outputs/
*.safetensors
*.bin
*.pt
*.gguf
build/
dist/
*.egg-info/
